/*html,body {
    height: 100%;
    width: 100%;
  }
  .button{
    width:50px;
    padding:15px;
    margin:0 3px;
    border:3px solid black;
    border-radius:9px;
    cursor:pointer;
  }
  .row{
    margin:8px 0;
  }
  .row-input{
    width:291px;
    font-size:24px
    margin: 30;
    padding:10cm 38px;
    border:2px  solid black;
    border-radius:5px;
  }*/

  html, body {
    height: 100%;
    width: 100%;
  
  }
  body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
  }
  .button {
    width: 50px;
    padding: 15px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color:lightblue;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
  }
  .button:hover {
    background-color:#67bbd0;
  }
  .input {
    width: 291px;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 23px;
    text-align: right;
    background-color:lightblue;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  .button{
    width:66px;
    padding:13px;
    margin:0 3px;
    border:2px solid black;
    border-radius:9px;
    cursor:pointer;
  }
  .row{
    margin:8px 0;
  }
  .row-input{
    width:291px;
    font-size:20px
    margin: 30;
    padding:10cm 38px;
    border:2px  solid black;
    border-radius:5px;
  }
  
   
  
   